*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: sans-serif;
}
body{
  background: #4d4d4d;
}
// .sidebar{
//   background: black;
  
//   &-item{
//     width: 25px;
//   }
// }
.main{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  

  width: 80%;
  margin: 0 auto;

  &-boxes{
    // display: flex;
    // justify-content: center;
    &-box{

      &-btn{
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
  
  .boxItems{
    display: flex;
    flex-wrap: wrap;
    background: #25252e;
    &-item{
      &-weapon{
        color: white;
        font-weight: 700;
      }
      &-name{
        color: white;
        font-weight: 100;
      }
    }
  }
  .boxBtn{
    display: flex;
    align-items: center;
    &-img{
      width: 80px;
    }
    &-name{
      color: white;
    }
    &-btn{
      background: #066906;
      color: white;
      text-transform: uppercase;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

}



.background{
  background: url('../imgs/background.jpg') no-repeat;
  background-size: cover;
  // opacity: 0.7;
  height: 100vh;
  filter: blur(3px);
  width: 100%;
  position: absolute;
  z-index: -1;
}
.resp{
  display: flex;
    flex-wrap: wrap;
}



.slick-slider{
  align-items: center;
}
.slick-next{
  background: url('../imgs/arrow.png') no-repeat;
  border: none;
  font-size: 0;
  background-position: center;
  width: 165px;
  height: 40px;
  cursor: pointer;
}
.slick-prev{
  background: url('../imgs/arrow.png') no-repeat;
  border: none;
  font-size: 0;
  background-position: center;
  width: 165px;
  height: 40px;
  cursor: pointer;
  transform: rotate(180deg);
}



